name: Docker Test

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      image-type:
        required: true
        type: string

jobs:
  test:
    name: test ${{ inputs.image-type }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    if: ${{ github.event_name == 'pull_request' && contains(inputs.image-name, inputs.image-type) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.3
        with:
          submodules: true

      - name: Get image tag
        id: tag
        run: echo version=$(echo ${{ inputs.image-name }} | cut -f2 -d':') >> $GITHUB_OUTPUT

      - name: Get test results file name
        uses: mad9000/actions-find-and-replace-string@5
        id: results-name
        with:
          source: ${{ steps.tag.outputs.version }}
          find: pr-${{ github.event.number }}-${{ github.run_number }}-${{ github.run_attempt }}-${{ github.run_id }}-
          replace: ""

      - name: Test image
        env:
          TEST_IMAGE: ${{ inputs.image-name }}
          TEST_IMAGE_TYPE: ${{ inputs.image-type }}
        run: ./test/libs/bats-core/bin/bats --report-formatter junit test

      - name: Report results
        if: ${{ success() || failure() }}
        uses: dorny/test-reporter@v1.9.0
        with:
          name: ${{ steps.results-name.outputs.value }} ${{ inputs.image-type }} Tests
          path: ./report.xml
          reporter: java-junit
