name: Prune Docker Images
on:
  pull_request:
    types:
      - closed
    branches:
      - master
  workflow_dispatch:
    inputs:
      pr-numer:
        description: "PR Number"
        required: true
        type: number

jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
      - name: Prune tags
        uses: vlaurin/action-ghcr-prune@v0.6.0
        with:
          token: ${{ secrets.CLEANING_TOKEN }}
          container: volumerize
          keep-tags-regexes: |
            .sig$
          prune-tags-regexes: |
            ^pr-${{ github.event_name == 'pull_request' && github.event.number || inputs.pr-number }}